.Tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  border:1px solid var(--color-text-yellow);
  border-radius: 999px;

  padding: 10px 20px;
  gap: 20px;
  box-shadow: 0px 10px 20px 0px #ffd97540;
}
.tab_titles {
    min-width: 160px;
  z-index: 1;
  font-weight: 500;
  font-size: 22px;
  cursor: pointer;
  padding: 5px 10px;
  margin-bottom: 0px;
  border-radius: 999px;
//   border-radius: 100% 0% 0% 100% / 100% 0% 100% 0% ;
  transition: all 0.3s ease-in-out;
  color: white;
  
  &:hover {
    background: linear-gradient(90deg, #ff5748, #fe9452);
    color:black;
    border: none;
  }
}
.active {
    background: linear-gradient(90deg, #ff5748, #fe9452);
    color:black;
  
  
  
}
@media (max-width: 768px) {
  
  .tab_titles {
    min-width:auto;
    font-size: 16px;
    &:hover {
        font-size: 18px;
      }
    
  }
  
}
